.container {
    width:925px;
}
.custom-header {
    background-image:url('../images/admin_top.png');
    height:93px;
    padding-right:5px;
}

.custom-header input{
    margin-top:61px;
}
.custom-menu {
    padding-left:0px;
    padding-right:0px;
    padding-bottom:20px;
    border: 0px;
    border-right: 1px;
    border-bottom:1px;
    border-style: dotted;
    border-color: #2c4daf;
}
.custom-menu-title {
    background-image:url('../images/admin_gongneng.png');
    width:100%;
    height:33px;
    color:#808080;
}
.custom-menu-content {
    margin-top:10px;
    padding-left:20px;
}
.custom-list { 
}
.custom-list-title {

    height:33px;
    line-height:33px;
}